* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 150%;
  font-weight: 500;
  color: #ffffff;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.box {
  padding: 1%;
}
